# Pliki i foldery Dockera
Dockerfile
docker-compose.yaml

# Folder wirtualnego środowiska
.venv/

# Folder i pliki Gita
.git/
.gitignore

# Foldery generowane przez IDE
.idea/
.vscode/

# Cache Pythona
__pycache__/
*.pyc

# Pliki ze zmiennymi środowiskowymi (nigdy nie powinny być w obrazie)
.env

# Foldery z wynikami analiz, testów i raportów
optuna/
backtests/
reports/
results/

# Pliki markdown
README.md